DirectoryIndex index.html
ErrorDocument 404 /index.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /index.html [L]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*googlebot\.com [NC]
RewriteRule .* - [F]
